<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">

          <form [formGroup]="service.UserData" autocomplete="off" (submit)="onSubmit()">
            <!-- Email input -->
            <div class="form-outline mb-4" >
              <input class="form-control form-control-lg" formControlName="username" placeholder="Email Address">
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" class="form-control form-control-lg" formControlName="password" placeholder="Password">             
            </div>
            
              <!-- Confirm Password input -->
              <div class="form-outline mb-3">
                <input type="password" class="form-control form-control-lg" >
                
                
              </div>
          
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" (submit)="onSubmit()">Submit</button>
             
            </div>
  
          </form>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2021. All rights reserved, by Trevor Sekoboane
      </div>
      <!-- Copyright -->
  
   
      <!-- Right -->
    </div>
  </section>